<library>
<book>
 <title>Ceea ce fac</title>
 <author>Eu</author>
 <publisher>Tot eu</publisher>
 <text>Acum lucrez la PP</text>
</book>
<book>
 <title>Cu toti facem</title>
 <author>Eu</author>
 <publisher>Tot eu</publisher>
 <text>Si altii lucreaza la PP, cred</text>
</book>
<book>
 <title>Cu toti facem</title>
 <author>Altcineva</author>
 <publisher>altcineva</publisher>
 <text>Si altii lucreaza la PP, cu siguranta</text>
</book>
</library>
